@model RepairRequestPageViewModel

<form method="post" action="@Url.Action("Search")" class="mb-3">
    <div class="input-group">
        <select name="requestType" class="form-control">
            @if (Model.RequestType == null)
            {
                <option selected value="">Избери тип</option>
            }
            else
            {
                <option value="">Избери тип</option>
            }
            @foreach (var option in Enum.GetValues(typeof(PHONE_SERVICE.Data.Enums.RepairRequestType)))
            {
                @if (option.Equals(Model.RequestType))
                {
                    <option selected value="@option">@option</option>
                }
                else
                {
                    <option value="@option">@option</option>
                }
            }
        </select>
        <select name="status" class="form-control">
            @if (Model.Status == null)
            {
                <option selected value="">Избери статус</option>
            }
            else
            {
                <option value="">Избери статус</option>
            }
            @foreach (var option in Enum.GetValues(typeof(PHONE_SERVICE.Data.Enums.RepairRequestStatus)))
            {
                @if (option.Equals(Model.Status))
                {
                    <option selected value="@option">@option</option>
                }
                else
                {
                    <option value="@option">@option</option>
                }
            }
        </select>

        <button type="submit" class="btn btn-outline-primary" asp-action="Search">Търси</button>

        <button type="button" class="btn btn-outline-secondary" onclick="clearSelections()">Изчисти</button>
    </div>
</form>

<script>
    function clearSelections() {
        document.querySelector('select[name="requestType"]').value = '';
        document.querySelector('select[name="status"]').value = '';
    }
</script>

