@model RepairRequestPageViewModel

<h2>RepairRequest List</h2>
<table class="table">
    <thead>
        <tr>
            <th>RepairRequestType</th>
            <th>Date</th>
            <th>RepairType</th>
            <th>PhoneModel</th>
            <th>Description</th>
            <th>Status</th>
            <th>Rating</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var repairRequest in Model.RepairRequests)
        {
            <tr>
                <td>@repairRequest.RepairRequestType</td>
                <td>@repairRequest.DateOnly</td>
                <td>@repairRequest.RepairType</td>
                <td>@repairRequest.PhoneModel.PhoneBrand @repairRequest.PhoneModel.Name</td>
                <td>@repairRequest.Descripion</td>
                <td>@repairRequest.Status</td>
                <td>@repairRequest.Rating</td>
                <td>@repairRequest.Price</td>
            </tr>
        }
    </tbody>
</table>

       