@model RepairRequestCreateViewModel

@{
    ViewData["Title"] = "Редактиране на заявка";
}

<h2>Редакция на завка</h2>
<form asp-action="Edit">
    <div class="mb-2">
        <label asp-for="RepairRequestType" class="form-label">Тип заявка</label>
        <select asp-for="RepairRequestType" class="form-select" disabled>
            <option value="">Избери тип</option>
            @foreach (var value in Enum.GetValues(typeof(PHONE_SERVICE.Data.Enums.RepairRequestType)))
            {
                <option value="@value">@value</option>
            }
        </select>
        <span asp-validation-for="RepairRequestType" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Date" class="form-label">Дата</label>
        <input asp-for="Date" class="form-control" disabled />
    </div>
    <div class="mb-2">
        <label asp-for="RepairType" class="form-label">Вид поправка</label>
        <select asp-for="RepairType" class="form-select" disabled>
            <option value="">Избери вид</option>
            @foreach (var value in Enum.GetValues(typeof(PHONE_SERVICE.Data.Enums.RepairType)))
            {
                <option value="@value">@value</option>
            }
        </select>
        <span asp-validation-for="RepairType" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="PhoneModelId" class="form-label">Телефон</label>
        <select asp-for="PhoneModelId" class="form-select" disabled>
            <option value="">Избери телефон</option>
            @foreach (var value in Model.PhoneModels)
            {
                <option value="@value.PhoneModelId">@value.PhoneBrand @value.Name</option>
            }
        </select>
        <span asp-validation-for="PhoneModelId" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Descripion" class="form-label">Описание</label>
        <input asp-for="Descripion" class="form-control" />
    </div>
    <div class="mb-2">
        <label asp-for="Status" class="form-label">Статус</label>
        <select asp-for="Status" class="form-select">
            <option value="">Избери статус</option>
            @foreach (var value in Enum.GetValues(typeof(PHONE_SERVICE.Data.Enums.RepairRequestStatus)))
            {
                <option value="@value">@value</option>
            }
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Rating" class="form-label">Рейтинг</label>
        <input asp-for="Rating" class="form-control" disabled />
    </div>
    <div class="mb-2">
        <label asp-for="Price" class="form-label">Цена</label>
        <input asp-for="Price" class="form-control" disabled />
    </div>
    <input type="hidden" asp-for="RepairRequestId" />
    <button type="submit" class="btn btn-primary" asp-controller="RepairRequest">Редактирай</button>
</form>
