@model RepairRequestCreateViewModel

@{
    ViewData["Title"] = "Редактиране на заявка";
}

<h2>Редакция на завка</h2>
<form asp-action="Edit">
    <div class="mb-2">
        <label asp-for="RepairRequestType" class="form-label">Тип заявка</label>
        <input asp-for="RepairRequestType" class="form-control" readonly />
    </div>
    <div class="mb-2">
        <label asp-for="Date" class="form-label">Дата</label>
        <input asp-for="Date" class="form-control" readonly value="@Model.Date.ToString("yyyy-MM-dd HH:mm")" />
    </div>
    <div class="mb-2">
        <label asp-for="RepairType" class="form-label">Вид поправка</label>
        <input asp-for="RepairType" class="form-control" readonly />
    </div>

    <div class="mb-2">
        <label asp-for="PhoneModel" class="form-label">Телефон</label>
        <input value="@Model.PhoneModel.PhoneBrand @Model.PhoneModel.Name" asp-for="PhoneModel" class="form-control" readonly />
    </div>
    <div class="mb-2">
        <label asp-for="Descripion" class="form-label">Описание</label>
        <input asp-for="Descripion" class="form-control" />
    </div>
    <div class="mb-2">
        <label asp-for="Status" class="form-label">Статус</label>
        <select asp-for="Status" class="form-select">
            <option value="">Избери статус</option>
            @foreach (var value in Enum.GetValues(typeof(PHONE_SERVICE.Data.Enums.RepairRequestStatus)))
            {
                <option value="@value">@value</option>
            }
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Rating" class="form-label">Рейтинг</label>
        <input asp-for="Rating" class="form-control" readonly />
    </div>
    <div class="mb-2">
        <label asp-for="Price" class="form-label">Цена</label>
        <input asp-for="Price" class="form-control" readonly value="@Model.Price.ToString("0.00")" />
    </div>
    <input type="hidden" asp-for="RepairRequestId" />
    <input type="hidden" asp-for="PhoneModelId" />
    <button type="submit" class="btn btn-primary" asp-controller="RepairRequest">Редактирай</button>
</form>
