@model RepairCreateViewModel

@{
    ViewData["Title"] = "Редактиране на ремонт";
}

<div class="container mt-5">
    <h2>Редакция на ремонт</h2>
    <form asp-action="Edit" method="post">
        <div class="mb-3">
            <label asp-for="RepairType" class="form-label">Вид поправка</label>
            <select asp-for="RepairType" class="form-select">
                <option value="">Изберете вид</option>
                @foreach (var value in Enum.GetValues(typeof(PHONE_SERVICE.Data.Enums.RepairType)))
                {
                    <option value="@value">@value</option>
                }
            </select>
            <span asp-validation-for="RepairType" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PhoneModelId" class="form-label">Телефон</label>
            <select asp-for="PhoneModelId" class="form-select">
                <option value="">Избери телефон</option>
                @foreach (var value in Model.PhoneModels)
                {
                    <option value="@value.PhoneModelId">@value.PhoneBrand @value.Name</option>
                }
            </select>
            <span asp-validation-for="PhoneModelId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Цена</label>
            <input asp-for="Price" class="form-control" />
        </div>
        <input type="hidden" asp-for="RepairId" />
        <button type="submit" class="btn btn-primary">Обнови</button>
    </form>
</div>
