@model RepairPageViewModel

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="text-center">
            <h2>Ремонти</h2>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Create" asp-controller="Repair" class="btn btn-success">Добави нов ремонт</a>
        }
        <table class=" table table-bordered table-hover mt-3" style="background-color: #f4f4f4; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
            <thead class="thead-light">
                <tr class="text-center">
                    <th>Вид ремонт</th>
                    <th>Телефон</th>
                    <th>Цена</th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th>Действия</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var repair in Model.Repairs)
                {
                    <tr style="border-top: 1px solid rgba(0, 0, 0, 0.1);">
                        <td>@repair.RepairType</td>
                        <td>@repair.PhoneModel.PhoneBrand @repair.PhoneModel.Name</td>
                        <td>@repair.Price</td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td class="d-flex">
                                <a asp-action="Edit" asp-route-id="@repair.RepairId" class="btn btn-primary me-2">Редактирай</a>
                                <form asp-action="DeleteConfirm" asp-route-id="@repair.RepairId" method="post"
                                      onsubmit="return confirm('Сигурни ли сте, че искате да изтриете този ремонт?');">
                                    <button type="submit" class="btn btn-danger">Изтрии</button>
                                </form>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



